{% extends 'menu.html' %}

{% block title %}Detalles Cariño: {{producto.nonmbre}} {% endblock %}

{% block content %}

<main class="mr-4">

    <!-- Info productos  -->
    <div class="info-producto">
        <h1>{{ producto.nombre }}</h1> {{request.COOKIES.pedido_id}}

        <div class="producto-contenido">
            <!-- Imagen -->
            <div class="img">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
            </div>

            <!-- Detalles -->
            <div class="info">
                <table>
                    <tr>
                        <td><strong>Descripción:</strong></td>
                        <td>{{ producto.descripcion }}</td>
                    </tr>
                    <tr>
                        <td><strong>Precio base:</strong></td>
                        <td>{{ producto.precio_base }}</td>
                    </tr>
                    <tr>
                        <td><strong>Categoría:</strong></td>
                        <td>{{ producto.categoria }}</td>
                    </tr>
                </table>

                <h2>Personalizaciones</h2>
                <ul>
                    {% for item in personalizaciones %}
                    <li>
                        <strong>{{ item.personalizacion.tipo }}:</strong>
                        {{ item.personalizacion.descripcion }}
                        <strong> Precio adicional:</strong>
                        {{ item.personalizacion.precio_adicional }}
                    </li>
                    {% endfor %}
                </ul>

                <div class="botones">
                    <button id="btn-personalizar" class="btn btn-personalizar">Personalizar</button>
                    <button id="btn-comprar" class="btn btn-comprar">Comprar</button>
                </div>

                <!-- Formulario de personalización -->
                <div id="form-personalizacion" class="form-personalizacion">
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ formulario }} <!-- Muestra el formulario en formato de párrafos -->
                        <input type="submit" value="Guardar Personalización">
                    </form>
                    {% if mensaje_error %}
                    <p class="error">{{ mensaje_error }}</p>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>


</main>

<script>
    document.getElementById('btn-personalizar').addEventListener('click', function () {
        var form = document.getElementById('form-personalizacion');
        if (form.style.display === 'none' || form.style.display === '') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    });
</script>


{% endblock %}