{% extends 'menu.html' %}

{% block title %}Pedidos{% endblock %}

{% block content %}

  <style>
    .btn-info.btn-sm:hover {
        filter: brightness(1.2);
    }
  </style>

  <div class="info-cliente">
    <h2 class="mb-4">Lista de Pedidos</h2>
    
    <!-- Filtro de Estado del Pedido y del Pago -->
    <div id="filtro">
      <p style="padding-top: 8px; font-size: 20px;">Filtrar por estado:</p>
      <button class="boton-categoria filtro-categoria activo" data-estado-pedido="">Todos</button>
      <button class="boton-categoria filtro-categoria" data-estado-pedido="carrito">Carrito</button>
      <button class="boton-categoria filtro-categoria" data-estado-pedido="enviado">Enviado</button>
      <button class="boton-categoria filtro-categoria" data-estado-pedido="entregado">Entregado</button>
      <br>
      <p style="padding-top: 8px; font-size: 20px;">Filtrar por pago:</p>
      <button class="boton-categoria filtro-categoria activo" data-estado-pago="">Todos</button>
      <button class="boton-categoria filtro-categoria" data-estado-pago="pagado">Pagado</button>
      <button class="boton-categoria filtro-categoria" data-estado-pago="validando">Validando</button>
    </div>  

    <!-- Tabla de Pedidos -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Cliente</th>
          <th scope="col">Estado</th>
          <th scope="col">Pago</th>
          <th scope="col">Destinatario</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody id="pedido-table-body">
        {% for pedido in pedidos %}
        <tr data-estado-pedido="{{ pedido.estado }}" data-estado-pago="{{ pedido.pago.estado }}">
          <th scope="row" data-label="#">{{ forloop.counter }}</th>
          <td data-label="Fecha">{{ pedido.fecha }}</td>
          <td data-label="Cliente">{{ pedido.cliente.nombre }}</td>
          <td data-label="Estado">{{ pedido.estado }}</td>
          
          <td data-label="Pago:">
          {% if pedido.pago.estado %}
            {% if pedido.pago.estado == "validadando" %}
              <a class="btn btn-info btn-sm" style="background-color: #ec9813; color: white;" href="{{ pedido.pago.comprobante.url }}" target="_blank"><i class="fas fa-eye"></i> Ver Comprobante</a> 
              <a class="btn btn-info btn-sm" style="background-color: #871f23; color: white;" href="{% url 'actualizar_estado_pago' pedido.pago.id %}" target="_blank"><i class="fas fa-check"></i> Validar Pago</a>
            {% elif pedido.pago.estado == "pagado" %}
              {{ pedido.pago.estado }}  
            {% else %}
              {{ pedido.pago.estado }}
            {% endif %}
          {% else %}
          <i class="fas fa-exclamation-triangle"></i> No existe un pago asociado
          {% endif %}
          </td>

          <td data-label="Destinatario:">
            {% if pedido.destinatario %}
            {{ pedido.destinatario.nombre }}
            {% else %}
            <i class="fas fa-exclamation-triangle"></i> No existe una direccion asociado
            {% endif %}
          </td>
          
          <td>
            <a href="{% url 'detalle_pedido' pedido.id %}" class="btn btn-info btn-sm">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg>
              Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Agrega el script al final del bloque content -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        // Manejar los filtros de estado del pedido
        const filtrosPedido = document.querySelectorAll('.filtro-categoria[data-estado-pedido]');
        filtrosPedido.forEach(boton => {
            boton.addEventListener('click', () => {
                // Remover la clase 'activo' de todos los botones y agregarla al botón seleccionado
                filtrosPedido.forEach(btn => btn.classList.remove('activo'));
                boton.classList.add('activo');

                // Obtener el valor del filtro seleccionado
                const estadoPedido = boton.getAttribute('data-estado-pedido');
                
                // Actualizar la URL con el parámetro estado_pedido
                const url = new URL(window.location.href);
                url.searchParams.set('estado_pedido', estadoPedido);
                window.location.href = url.toString();
            });
        });

        // Manejar los filtros de estado del pago
        const filtrosPago = document.querySelectorAll('.filtro-categoria[data-estado-pago]');
        filtrosPago.forEach(boton => {
            boton.addEventListener('click', () => {
                // Remover la clase 'activo' de todos los botones y agregarla al botón seleccionado
                filtrosPago.forEach(btn => btn.classList.remove('activo'));
                boton.classList.add('activo');

                // Obtener el valor del filtro seleccionado
                const estadoPago = boton.getAttribute('data-estado-pago');

                // Actualizar la URL con el parámetro estado_pago
                const url = new URL(window.location.href);
                url.searchParams.set('estado_pago', estadoPago);
                window.location.href = url.toString();
            });
        });
    });
</script>

{% endblock %}
