{% extends 'menu.html' %}

{% block title %}Agregar Pago{% endblock %}

{% block content %}
  <div class="frm_container">
    <h1>Agregar Pago</h1>
    <p style="text-align: center;">Carga la imagen del comprobante de la transferencia/deposito para realizar tu pedido</p>
    
    <!-- Formulario principal de Finalizar Pedido -->
    <form method="post" action="{% url 'nuevo_pago' pedido_id %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ formulario_pago.as_p }}
      <input type="submit" value="Guardar" class="btn btn-primary">
    </form>

<script>
  function mostrarFormulario(tipo) {
    // Ocultar ambos formularios al inicio
    document.getElementById('formulario-pago').style.display = 'none';
    document.getElementById('formulario-destinatario').style.display = 'none';

    // Mostrar el formulario seleccionado
    if (tipo === 'pago') {
      document.getElementById('formulario-pago').style.display = 'block';
    } else if (tipo === 'destinatario') {
      document.getElementById('formulario-destinatario').style.display = 'block';
    }
  }
</script>
{% endblock %}