{% extends 'menu.html' %}

{% block title %}Nuevo Pedido{% endblock %}

{% block content %}

  <div class="frm_container">
    <h1>Nuevo Pedido</h1>
    <hr>

    <form method="post" action="{% url 'nuevo_pedido' %}">
      {% csrf_token %}
      {{ formulario.as_p }}
      <input type="submit" value="Guardar" class="btn btn-primary">
    </form>

    {% if mensaje_error %}
      <div class="alert alert-danger mt-3">
        {{ mensaje_error }}
      </div>
    {% endif %}
  </div>
  
{% endblock %}